.btn{
  padding: 10px;
  border:1px solid #eee;
  cursor: pointer;
}

.box{
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.item{
  margin: 10px;
  border: 1px solid #333;
  border-radius: 10px;
}
.item>div{
  margin: 10px;
}

select{
  margin:20px;
  width: 200px;
  padding: 5px;
}